<!DOCTYPE html>
<html>
  <head>
    <title>Youth Festival Registration</title>
  </head>
  <body>
    <h2>Registered Participants</h2>
    <a href="{% url 'register' %}">Register for Event</a>
    <ul>
      {% for reg in registrations %}
      <li>
        {{ reg.name }} - {{ reg.email }} - {{ reg.phone }} - {{ reg.event }}
        <a href="{% url 'update_registration' reg.id %}">Edit</a>
        <a href="{% url 'delete_registration' reg.id %}">Delete</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
